{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true,
      "topLevelAwait": true
    },
    "target": "es2020",
    "baseUrl": "./"
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": false
}